.homepage {
  margin: 0;
}

.hp_cardLink {
  color: #000;
  text-decoration: none;
}

.hp_header {
  display: flex;
  align-items: center;
  margin: 0;
  height: 80px;
  background-color: #fff;
  border-bottom: 2px solid #000;
}

.hp_header h1 {
  margin-left: 20px;
  font-size: 3.2em;
  line-height: 1.1;
}

.hp_main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 140px);
}

.hp_main::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url('/images/homepage-bg.jpg');
  background-size: cover;
  background-position: top;
}

.hp_cardsContainer {
  margin: 5% 50px 10% 50px;
  display: grid;
  width: 60%;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 25px;
}

.hp_card {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
  color: #FFF;
}

.hp_card:hover {
  cursor: pointer;
}

.hp_card:active {
  box-shadow: none;
}

.hp_cardImage {
  overflow: hidden;
}

.hp_image {
  display: block;
  margin: auto;
  max-width: 100%;
  height: 200px;
  transform: scale(1);
  transition: transform 350ms ease 50ms;
}

.hp_image:hover {
  transform: scale(1.2);
}

.hp_cardText {
  position: relative;
  background-color: #1976d2;
  border-top: 1px solid #000;
  margin-bottom: 0;
}

.hp_cardText h3 {
  font-size: 20px;
  margin: 0;
  padding-left: 8px;
}

.hp_arrowContainer {
  margin-bottom: 10px;
  height: auto;
  text-align: center;
}

.hp_arrow {
  transform:rotate(90deg);
  transition: transform 0.2s ease;
}

.hp_arrow:hover {
  scale: 1.2;
}

.hp_arrow.open {
  transform: translate(2.5%, -20%) rotate(270deg);
}

.hp_expandedText {
  width: 100%;
  margin-top: 1.5rem;
  padding: 5%;
  display: flex;
  z-index: 2;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1976d2;
  overflow: hidden;
  box-shadow: 4px 8px rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  text-align: justify;
  opacity: 0;
  transition: width, opacity, transform 500ms ease-in;
}

.hp_expandedText.visible {
  width: 125%;
  color: #fff;
  z-index: 2;
  opacity: 1;
}

.hp_footer {
  display: flex;
  height: 60px;
  background-color: rgb(250, 215, 170, 0.5);
  text-align: center;
}

.hp_footer p {
  margin: auto;
}

/* @media screen and (max-width: 600px) {
  .main {
    height: 100%;
  }
  .cardsContainer {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}

@media screen and (max-width: 400px) {
  .cardsContainer {
    grid-template-columns: 1fr;
  }
} */
