.bookstore {
  width: 100%;
}
.header {
  height: 64px;
}

.header-content {
  margin: auto 1rem;
  justify-content: space-between;
}

.main {
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 150px);  
}
.add-book-container {
  width: 80%;
}

.ag-theme-material {
  width: 80%;
  height: 500px;
}

.footer {
  display: flex;
  justify-content: space-between;
  color: #1976d2;
  border: 2px solid #1976d2;
  height: 50px;
}
p {
  margin: auto 15px;
}

#user-highlight {
  color: #000;
  font-weight: bold;
}
p a {
  color:#1976d2;
}

p a:hover {
  cursor: pointer;
  color: red;
}



